*{
    padding: 0;
    margin:0;
}

.img1{
    margin-left: -80px;
}
a{
    color: white;
    text-decoration: none;
    
}
.blk{
    background-color: black;
}
.container
{
    margin-right: 50px;
    margin-left: 10px;
    padding: 8px;
}

.navbar{
    width:85%;
    margin:auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity:1;
}

.menubar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.nav-branding{
    font-size: 200%;
    align-items: left;
}

.nav-link{
    font-size: 120%;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black; 
     /* opacity: 0.7; */
}
.home-bgimg {
    background-image: url("Icon.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}
footer {
    padding: 15px;
    background-color: rgb(20, 20, 20);

}
.ft-add{
    text-align: left;
    padding: 5px;
}
.add-head {
    color: white;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.foot {
    background-color: #000;
    width: 100%;
    margin: 0;

}

.ft-text{
    color: gray;
    font-size: 17px;
    /* color: rgb(150, 150, 150);
     */
}
.ft-column {
    float: left;
    width: 15%;
    padding: 5px;
    color: white;
    margin-left: 50px;
    margin-right: 1px;
}
.ft-column1 {
    float: left;
    width: 15%;
    padding: 5px;
    color: white;

    margin-right: 1px;
}
.ft-col {
    float: right;
    width: 15%;
    padding: 5px;
    color: white;

    margin-right: 50px;
    margin-left: 1px;
}
.ft-title{
    color: white;
    font-size: 28px;
}
/* Clearfix (clear floats) */
.ft-row::after {
    content: "";
    clear: both;
    display: table;
}

.blk{
    background-color: black;
}


.foot-column{
    padding: 15px;
    margin: 15px;
}
.foot-row{
    content: "";
    clear: both;
    display: table;

}
.foot-title{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    font-size: 15px;
    color: gray;
    text-align: center;
}
.foot-img{
    padding-left: 55px;
}
.foot-text{
    font-size: 25px;
}
.handles{
    width: 25%;
}
